{% extends 'base.html' %}
{% block adminka %}
    {% for u in users %}
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">{{ u.username }}</h5>
                <a href="/del?user_id={{ u.id }}" class="btn btn-primary">Purge!</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}