<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KaBoFIXit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Kabo Fix</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Новые<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/current">Рассматриваются<span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/solved">Решённые<span class="sr-only">(current)</span></a>
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link active" href="/meine">Мои</a>
                    <a class="nav-item nav-link active" href="/new">Новая проблема</a>
                    {% if is_moder %}
                        <a class="nav-item nav-link active" href="/manage">Админка</a>
                    {% endif %}
                    <a class="nav-item nav-link disabled" href="#">{{ user }}</a>
                    <a class="nav-item nav-link active" href="/logout">Выйти</a>
                {% else %}
                    <a class="nav-item nav-link active" href="/login">Вход</a>
                    <a class="nav-item nav-link active" href="/register">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block new_problem %}
    {% endblock %}
    {% block view %}
    {% endblock %}
    {% block register %}
    {% endblock %}
    {% block login %}
    {% endblock %}
    {% block adminka %}
    {% endblock %}
    {% block problem %}
    {% endblock %}
    {% if messages %}
        {% for m in messages %}
            <p {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %} style="color: #ff313d" {% endif %}>{{ m }}</p>
        {% endfor %}
    {% endif %}
</div>
</body>
</html>
