{% extends 'base.html' %}
{% block login %}
    <h3>Вход:</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Имя пользователя</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Введите логин">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelp"
                   placeholder="Пароль" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Вход</button>
    </form>
{% endblock %}
