{% extends 'base.html' %}
{% block new_problem %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="form-group">
                <label for="exampleInputEmail1">Название проблемы:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="title">
            </div>
            <label for="exampleFormControlTextarea1">Опишите проблему:</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" name="body" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
{% endblock %}
