{% extends 'base.html' %}
{% block problem %}
    <div align="center">
        <h4>{{ problem.title }}</h4>
        <p>{{ likes }} ♥</p>
        {% if logged_in %}
            {% if not liked %}
                <p><a href="like?action=add&id={{ problem.id }}&fallback=/view?id={{ problem.id }}">Like</a></p>
            {% else %}
                <p><a href="like?action=remove&id={{ problem.id }}&fallback=/view?id={{ problem.id }}">Unlike</a></p>
            {% endif %}
        {% endif %}
        {% if mode == 'edit' %}
            <form method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <textarea class="form-control rounded-0" name="body" rows="10">{{ problem.body }}</textarea>
                    <input type="submit" class="btn btn-primary" value="Редактировать">
                </div>
            </form>
        {% endif %}
        {% if mode == 'view' %}
            <p>{{ problem.body }}</p>
        {% endif %}
        {% for comm in comments %}
            <div class="card w-50">
                <div class="card-body">
                    <h5 class="card-title">{{ comm.author.username }}</h5>
                    <p class="card-text">{{ comm.text }}</p>
                    {% if user == comm.author or is_moder %}
                        <a href="/del?comment_id={{ comm.id }}&fallback=/view?id={{ problem.id }}">[удалить]</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% if logged_in %}
            <form method="post" action="/comment?id={{ problem.id }}">
                <label>Ваш комментарий:</label>
                {% csrf_token %}
                <textarea class="form-control rounded-0" name="text"></textarea>
                <input type="submit" class="btn btn-primary" value="Комментировать">
            </form>
        {% endif %}
    </div>
{% endblock %}
