{% extends 'base.html' %}
{% block register %}
    <h3>Регистрация:</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Имя пользователя</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Введите логин">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelp"
                   placeholder="Пароль" name="password1">
            <small id="passwordHelp" class="form-text text-muted">Не короче 6 символов</small>
            <label for="exampleInputPassword1">Повтор пароля</label>
            <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelp"
                   placeholder="Введите пароль ещё раз" name="password2">
        </div>
        <button type="submit" class="btn btn-primary">Регистрация</button>
    </form>
{% endblock %}
