{% extends 'base.html' %}
{% block view %}
    {% for p in problems %}
        <div class="card-body">
            <h5 class="card-title">{{ p.title }}</h5>
            <p class="card-text">{{ p.body }}</p>
        </div>
        <div class="card-footer text-muted">
            Оставил {{ p.author.username }} <a href="/view?id={{ p.id }}">[Просмотр]</a> {% if progress %}
            [рассматривается {{ p.curator.username }}] {% endif %}
            {% if is_moder %}
                {% if not solved and not progress %}
                    <a href="/check?type=start&id={{ p.id }}&fallback=/{{ fallback }}">[Взять на себя]</a>
                {% endif %}
                {% if progress %}
                    <a href="/check?type=finish&id={{ p.id }}&fallback=/{{ fallback }}">[Пометить решенной]</a>
                {% endif %}
            {% endif %}
            {% if user == p.author or is_moder %}
                <a href="/del?problem_id={{ p.id }}&fallback=/{{ fallback }}">[Удалить]</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
